In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,AnimalNo,WHHeightAtWither,Rumpheight,BLBodylengthcm,Scapuloischiallength,SternumHeight,ChestDepth,RumpWidth,RumpLength,HeartGirth,AbdGirth,CannonBoneDiameter,HockBoneDiameter,ActualBodyWeight
0,436,132,139,190,150,58,83,43,40,172,217,18.0,40,379
1,26,131,140,183,150,58,85,42,38,172,215,18.0,40,398
2,2,143,147,197,154,67,95,41,30,188,217,18.0,51,407
3,11112,139,146,202,174,78,82,45,36,185,203,17.0,56,412
4,8,144,160,185,152,67,84,43,36,179,216,19.0,46,413

In [4]:
df.shape

(517, 14)

In [5]:
df.describe()

,AnimalNo,WHHeightAtWither,Rumpheight,BLBodylengthcm,Scapuloischiallength,SternumHeight,ChestDepth,RumpWidth,RumpLength,HeartGirth,AbdGirth,CannonBoneDiameter,HockBoneDiameter,ActualBodyWeight
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,10800.692456,151.431335,160.756286,212.661509,177.071567,65.847195,99.266925,46.340426,37.845261,202.653772,245.994197,20.277563,48.837524,602.344294
std,66719.581279,6.173024,6.408765,11.880034,9.689196,4.981930,5.277046,4.553320,3.568168,9.794697,13.357124,1.211556,4.830530,78.114614
min,2.000000,131.000000,139.000000,177.000000,145.000000,54.000000,82.000000,35.000000,28.000000,171.000000,203.000000,17.000000,40.000000,379.000000
25%,2740.000000,147.000000,157.000000,206.000000,171.000000,62.000000,96.000000,43.000000,36.000000,196.000000,238.000000,20.000000,45.000000,547.000000
50%,3425.000000,152.000000,161.000000,213.000000,178.000000,66.000000,100.000000,46.000000,38.000000,203.000000,246.000000,20.000000,48.000000,601.000000
75%,4186.000000,156.000000,165.000000,220.000000,184.000000,69.000000,103.000000,50.000000,40.000000,210.000000,255.000000,21.000000,52.000000,653.000000
max,999113.000000,169.000000,180.000000,246.000000,204.000000,80.000000,116.000000,59.000000,49.000000,233.000000,282.000000,24.000000,64.000000,824.000000

In [6]:
# check for missing values
df.isnull().sum()

AnimalNo                0
WHHeightAtWither        0
Rumpheight              0
BLBodylengthcm          0
Scapuloischiallength    0
SternumHeight           0
ChestDepth              0
RumpWidth               0
RumpLength              0
HeartGirth              0
AbdGirth                0
CannonBoneDiameter      0
HockBoneDiameter        0
ActualBodyWeight        0
dtype: int64

In [7]:
# checking duplicates
df.duplicated().sum()

0

In [8]:
# check data types
df.dtypes

AnimalNo                  int64
WHHeightAtWither          int64
Rumpheight                int64
BLBodylengthcm            int64
Scapuloischiallength      int64
SternumHeight             int64
ChestDepth                int64
RumpWidth                 int64
RumpLength                int64
HeartGirth                int64
AbdGirth                  int64
CannonBoneDiameter      float64
HockBoneDiameter          int64
ActualBodyWeight          int64
dtype: object

In [9]:
# change data types if necessary
# df['column_name'] = df['column_name'].astype('desired_type')
df['CannonBoneDiameter'] = df['CannonBoneDiameter'].astype(int)

In [10]:
df.head()

,AnimalNo,WHHeightAtWither,Rumpheight,BLBodylengthcm,Scapuloischiallength,SternumHeight,ChestDepth,RumpWidth,RumpLength,HeartGirth,AbdGirth,CannonBoneDiameter,HockBoneDiameter,ActualBodyWeight
0,436,132,139,190,150,58,83,43,40,172,217,18,40,379
1,26,131,140,183,150,58,85,42,38,172,215,18,40,398
2,2,143,147,197,154,67,95,41,30,188,217,18,51,407
3,11112,139,146,202,174,78,82,45,36,185,203,17,56,412
4,8,144,160,185,152,67,84,43,36,179,216,19,46,413